/* Body Styles */

body {
    background-color: #fafafa;
}


/* top section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 15rem;
}

main h1 {
    font-size: 3rem;
    color: #2f3135;
    font-weight: 500;
    line-height: 62px;
}

main p {
    line-height: 25px;
    margin-top: 30px;
}